.ds-pagination {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    &-item {
        text-align: center;
        border: 1px solid #ccc;
        cursor: pointer;
        user-select: none;
        min-width: 32px;
        &-active {
            color: red;
        }
        &.disabled {
            color: blue;
            cursor: not-allowed;
        }
    }
}