@import "../components/style.scss";

.ds-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // background-color: rgba(black, .15);
    // transition: background-color .3s ease-in-out;
    &-img {
        position: absolute;
    }
}

.body-no-scroll {
    overflow: hidden;
}


.ds-progress {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5px;
    background-color: rgba(black, .3);
    &-inner {
        width: 100%;
        height: 100%;
        background-color: pink;
        transform: scaleX(.5);
        transform-origin: left;
        // transition: transform 300ms;
    }
}

