.ds-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(black, .65);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    .ds-dialog {
        background-color: white;
        border-radius: 4px;
        position: relative;
        .ds-dialog-header {
            padding: 16px 24px;
            color: rgba(black, .65);
            border-bottom: 1px solid #e8e8e8;
            font-weight: bold;
            font-size: 18px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .ds-dialog-closeable {
                width: 20px;
                height: 20px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                font-size: 16px;
                font-weight: normal;
                color: #333;
                transition: color .3s;
                &:hover {
                    color: red;
                }
            }
        }
        .ds-dialog-content {
            padding: 16px 24px;
        }
    }
}
