.ds-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(black, .65);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    .ds-dialog {
        background-color: white;
        border-radius: 4px;
        position: relative;
        .ds-dialog-header {
            padding: 16px 24px;
            color: rgba(black, .85);
            border-bottom: 1px solid #e8e8e8;
            font-weight: 500;
            font-size: 16px;
        }
        .ds-dialog-closable {
            position: absolute;
            top: 0;
            right: 0;
            padding: 16px 24px;
            cursor: pointer;
            svg {
                fill: #777;
                transition: fill .3s;
            }
            &:hover {
                svg {
                    fill: #000;
                }
            }
        }
        .ds-dialog-content {
            padding: 16px 24px;
            min-height: 100px;
        }
    }
}
