.ds-message {
    position: fixed;
    top: 16px;
    width: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
    .ds-message-item {
        background-color: white;
        box-shadow: 0 4px 12px rgba(black, .15);
        border-radius: 3px;
        font-size: 14px;
        padding: 0 12px;
        line-height: 30px;
        height: 30px;
        box-sizing: border-box;
        overflow: hidden;
        color: rgba(black, .65);
        &.info, &.error, &.success, &.warn {
            padding-left: 36px;
            position: relative;
            svg {
                position: absolute;
                top: 8px;
                left: 12px;
            }
        }
        &.dark {
            background-color: rgba(black, .7);
            color: white;
        }
    }
}
