.ds-message {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
    z-index: 1001;
    .ds-message-item {
        background-color: white;
        box-shadow: 0 4px 12px rgba(black, .15);
        border-radius: 3px;
        font-size: 14px;
        padding: 0 12px;
        // line-height: 36px;
        height: 36px;
        display: inline-flex;
        align-items: center;
        box-sizing: border-box;
        overflow: hidden;
        color: rgba(black, .65);
        margin-top: 16px;
        .ds-message-icon {
            width: 20px;
            margin-right: 8px;
        }
        &.dark {
            background-color: rgba(black, .7);
            color: white;
        }
    }
}
